body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Monaco', monospace;
  background-color: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000; /* Black background */
  overflow: hidden;
}

#scene-image {
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Ensure the image covers the whole container without warping */
  position: relative; /* To make sure it's in the stacking context */
}

.invisible-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  border: none;
  cursor: pointer;
}

/* Adjust these values based on your image and where you want the buttons to be */
#buttonA {
  top: 10%; /* Example position */
  left: 10%;
  width: 15%; /* Example size */
  height: 15%;
}

#buttonB {
  top: 20%;
  left: 20%;
  width: 15%;
  height: 15%;
}
