body, html {
  height: 100%;
  margin: 0;
  font-family: 'Monaco', monospace;
  background-color: #000; /* Entire background black */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Removed overflow: hidden; to prevent issues with responsiveness */
}

#game-container {
  position: relative; /* Necessary for the absolute positioning of the buttons */
  /* width: 100%; Removed to allow for the container to adjust based on image size */
  /* height: 100vh; Removed to allow for natural image height */
  display: inline-block; /* Helps contain the size to the image, and not the entire viewport */
  background-color: #000; /* Black background */
}

#scene-image {
  display: block; /* Ensures there's no space below the image */
  max-width: 100%; /* Ensures image isn't larger than the viewport */
  height: auto; /* Ensures the image retains its aspect ratio */
  /* Removed object-fit and position relative as they're not necessary with this setup */
}

.invisible-button {
  position: absolute; /* Positioned based on their containing block */
  background-color: rgba(128, 0, 128, 0.5); /* Transparent purple for visibility; can be made invisible as needed */
  border: none;
  cursor: pointer;
  /* You might want to add some sort of highlight or effect for user interaction feedback */
}

/* The button coordinates should ideally be in percentages for responsiveness, calculated based on the image's original dimensions. */
#buttonA {
  left: calc(14px / 1024 * 100%);
  top: calc(57px / 1024 * 100%);
  width: calc(247px / 1024 * 100%);
  height: calc(131px / 1024 * 100%);
}

#buttonB {
  left: calc(765px / 1024 * 100%);
  top: calc(55px / 1024 * 100%);
  width: calc(254px / 1024 * 100%);
  height: calc(129px / 1024 * 100%);
}
